.hero-nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1100px;
   margin: 0 auto;
   padding: 14px 0;
}

.hero-nav-links{
   display: flex;
   gap: 20px;
}

.hero-nav-left{
   display: inline-block; 
}